body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: beige;
  margin-top: 5%;
}
h3 {
  font-size: 17px;
}
span.nameOfTheDish {
  /* font-size: 20px; */
  font-weight: bold;
  color: darkslategray;
}
span.type {
  color: darkslategray;
}
span.portionWeight {
  /* font-size: 20px; */
  color: darkslategray;
}
form[name="product-filter"] {
  margin: 12px 0px 7px 0px;
  text-align: left;
  margin-left: 15%;
}

/* Оформлення кнопки */
.btn-group .button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 1%;
}
.btn-group .button:hover {
  background-color: #3e8e41;
}

/* Buttons edit-dish, ceate-dish, delete-dish */
div.control a {
  font-size: 16px;
  color: black;
  text-decoration: none;
  border: 1px black solid;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
}
div.control a:hover {
  color: #4caf50;
  font-weight: bold;
  border: 1px #4caf50 solid;
}
div.control {
  margin-bottom: 20px;
}

/* Оформлення посилань. */
 a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-size: 14px;
}
a:link {
  color: darkslategray;
}
a:visited {
  color: darkslategray;
}
a:focus {
  border-bottom: 1px solid;
  background: #bae498;
}
a:hover {
  border-bottom: 1px solid;
  background: #cdfeaa;
}
a:active {
  background: #265301;
  color: #cdfeaa;
} 

/* Оформл. таблиць */
table {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border: 5px solid #fff;
  border-top: 5px solid #fff;
  border-bottom: 3px solid #fff;
  border-collapse: collapse;
  outline: 3px solid #ffd300;
  font-size: 15px;
  background: #fff !important;
}
th {
  font-weight: bold;
  padding: 7px;
  background: #ffd300;
  border: none;
  text-align: left;
  font-size: 15px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #ffd300;
  text-align: center;
}
td {
  padding: 7px;
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  font-size: 15px;
}
header {
  margin-bottom: 20px;
}

/* Привiтання та оформлення logout */
div.user-info {
    text-align: left;
    font-size: 17px;
    margin-bottom: 20px;
}
div.user-info a {
    color: blue;
    text-decoration: none;
    margin-left: 20px;
}
div.user-info a:hover {
    color: skyblue;
    font-weight: bold;
}