a {
    font-size: 15px;
    color: blue;
    text-decoration: none;
}
a:hover {
    color: skyblue;
}
input[type=checkbox] {
    transform: scale(1.5);
}
form div, form div label, form div input, form div select {
    font-size: 15px;
    margin-bottom: 5px;
}
form div span {
    padding-right: 10px;
}
form div input, form div select {
    border-radius: 5px;
}
form {
    padding-top: 20px;
}
div.tbl {
    display: table;
}
div.tbl > div {
    display: table-row;
}
div.tbl > div > label, div.tbl > div > input {
    display: table-cell;
    padding-right: 20px;
}
input[type="submit"] {
    margin-top: 20px;
}